<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="allure" type="Allure.Commons.AllureConfiguration, Allure.Commons" />
	</configSections>
	<allure
	  allureFolder="allure-results"
	  cleanupCycle="None"
	  loggingLevel="Verbose"
	  environment="QA"
  />
</configuration>
